@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

/* MARK - header styling */
header {
  border-bottom: 1px solid #ECECEC;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    justify-content: space-around;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav > .nav__item:not(:last-child) {
    margin-right: 53px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
  }
  .nav > .nav__item:not(:last-child) {
    margin-right: 53px;
  }
}

.nav__link {
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link--active {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
}
.nav__link--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }
  .contacts > .contacts__item:first-child {
    margin-right: 50px;
  }
}

.contacts__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link--email {
    padding-bottom: 10px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon:hover {
  fill: #2196F3;
}

.address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
  align-items: center;
}

.address__contact {
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__contact:active, .address__contact:focus {
  color: #2196F3;
}

.address__item {
  margin-bottom: 2px;
}

.webstudio-address {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .webstudio-address {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.social-media {
  display: flex;
}
.social-media:last-child {
  margin-right: 0px;
}

.social-media__item {
  margin-right: 10px;
}

.social-media__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-media__svg {
  fill: currentColor;
}

.brand__link {
  width: 200px;
  height: 92px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brand__link:hover, .brand__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media screen and (min-width: 768px) {
  .brand__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .brand__link {
    width: 170px;
  }
}

.brand__icon {
  fill: currentColor;
}

.brand__link:hover,
.brand__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 97px;
  }
}

.logo-footer {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
  margin-right: 0px;
  text-align: center;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    text-align: left;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-global-container {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-global-container {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-global-container {
    flex-wrap: nowrap;
    flex-basis: 33.3333333333%;
  }
}

.find-us__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.find-us {
  margin-right: 0px;
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .find-us {
    margin-right: 93px;
    margin-bottom: 0px;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe-form__input-email {
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-bottom: 20px;
}
.subscribe-form__input-email:hover, .subscribe-form__input-email:focus {
  border: 1px solid #2196F3;
}
@media screen and (min-width: 480px) {
  .subscribe-form__input-email {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form__input-email {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input-email {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.subscribe-form__btn {
  background-color: #2196F3;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 28px 10px 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #0a7ddb;
}

.subscribe-form__svg {
  fill: currentColor;
  margin-left: 30px;
}

.hero-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg@2x.jpg");
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-container__title {
    font-size: 44px;
  }
}

.hero-section__request-service-bttn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero-section__request-service-bttn:hover, .hero-section__request-service-bttn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #0a7ddb;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  position: fixed;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  background-color: #FFFFFF;
  width: 450px;
  height: 609px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal-window__close-bttn {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.contact-form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-window__form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.contact-form__label {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
  margin-top: 10px;
  color: #757575;
}

.contact-form__input-element {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
  margin-top: 4px;
  outline: none;
}
.contact-form__input-element:hover + .contact-form__icon, .contact-form__input-element:focus + .contact-form__icon {
  fill: #2196F3;
}
.contact-form__input-element:hover, .contact-form__input-element:focus {
  border: 1px solid #2196F3;
}

.contact-form__icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  padding-left: 16px;
  padding-top: 12px;
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
}
.textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
}
.textarea:hover, .textarea:focus {
  border: 1px solid #2196F3;
}

.policy-check__label {
  display: flex;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon__svg {
  fill: currentColor;
}

.checkbox-icon__svg:hover + .policy-check__label > .checkbox-icon,
.checkbox-icon__svg:focus + .policy-check__label > .checkbox-icon,
.policy-check__checkbox:checked + .policy-check__label > .checkbox-icon {
  fill: #FFFFFF;
  background-color: #2196F3;
  border: 2px solid #2196F3;
}

.agree,
.agree__terms-and-conditions-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.agree__terms-and-conditions-link {
  color: #2196F3;
}

.send {
  position: relative;
}

.send__bttn {
  padding: 10px 70px;
  background-color: #2196F3;
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send__bttn:hover, .send__bttn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #0a7ddb;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .features {
    flex-basis: 50%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
    flex-basis: 25%;
  }
}

.features-section__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.features__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__item {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item--before-last-row,
  .features__item--last-row {
    margin-bottom: 0;
  }
}

.features__item--last-row {
  margin-bottom: 0px;
}

.features__icon {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .features__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.products-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.products-section {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .products-section {
    display: flex;
  }
}

.products {
  display: flex;
}

.products__item {
  margin-right: 30px;
  position: relative;
}

.products__name {
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.products__name > p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
}

.our-team-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section {
  background-color: #F5F4FA;
}

.our-team-section__title {
  margin-bottom: 50px;
}

.team-members__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-members__profession {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.team-members {
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team-members {
    flex-basis: 50%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .team-members {
    flex-wrap: nowrap;
    flex-basis: 25%;
  }
}

.team-members__item {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-members__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team-members__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-members__item:last-child {
    margin-bottom: 30px;
  }
  .team-members__item:nth-child(3) {
    margin-bottom: 30px;
  }
}

.team-member-soical-media {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-member-soical-media__item {
  margin-right: 10px;
}

.team-member-soical-media:last-child {
  margin-right: 0px;
}

.team-member-soical-media__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-soical-media__link:hover, .team-member-soical-media__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team-member-soical-media__icon {
  fill: currentColor;
}

.regular-customers-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.brand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .brand {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .brand {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .brand {
    flex-wrap: nowrap;
    flex-basis: 25%;
  }
}

.brand__item {
  margin-bottom: 30px;
}
.brand__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .brand__item:nth-child(5) {
    margin-bottom: 0;
  }
}

.web-pages {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .web-pages {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .web-pages {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.web-pages__item {
  margin-right: 8px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .web-pages__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .web-pages__item {
    margin-bottom: 0;
  }
}

.web-pages__bttn {
  background-color: #F5F4FA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  padding: 6px 27px 6px 27px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.web-pages__bttn:hover,
.web-pages__bttn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-section__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .portfolio-projects {
    flex-basis: 50%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-projects {
    flex-basis: 33.3333333333%;
  }
}

.project-naming {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 24px 20px;
}

.portfolio-projects__item {
  cursor: pointer;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-projects__item:hover .overlay {
  transform: translateY(0);
}

.portfolio_projects__overflow-block {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio_projects__overflow-block > img {
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_projects__overflow-block > img {
    width: 370px;
  }
}

.overlay {
  background-color: rgba(33, 150, 243, 0.8980392157);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: left;
  padding: 63px 24px;
}

.project-naming__example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-naming__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vw;
  background-color: #FFFFFF;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding-top: 48px;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item .mobile-menu__link--active {
  color: #2196F3;
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link:hover, .mobile-menu__linkfocus {
  color: #2196F3;
}

.mobile-menu-contacts {
  padding-left: 40px;
  margin-top: 150px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-contacts {
    display: none;
  }
}

.mobile-menu-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mobile-menu-contacts__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-media {
  display: flex;
  padding-left: 40px;
  margin-top: 64px;
}

.mobile-menu-media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
.mobile-menu-media__link > span {
  margin-right: 10px;
  margin-left: 10px;
  color: #757575;
}/*# sourceMappingURL=main.css.map */