$main-bg-color: #FFFFFF;
$main-color: #212121;
$main-heading-color: #FFFFFF;
$webstudio-color:#2196F3;
$request-studio-color:#FFFFFF;
$contact-info-header: #757575;
$heading-bg-color: #2F303A;
$section-titles-color: #212121;
$request-our-service-hover-color:#0a7ddb;
$our-team-bg-color: #F5F4FA;
$description-color:#757575;
$footer-bg-color: #2F303A;
$contact-info-footer:rgba(255, 255, 255, 0.6);
$address-footer-color: #FFFFFF;
$button-bg-color:#F5F4FA; 
$active-and-hover-color: #2196F3;
$white-text-color: #FFFFFF;
$regular-customer-brnads-color:#AFB1B8;
$modal-bg:rgba(0, 0, 0, 0.2);
$transparent-grey-color: #2F303ACC;
$transparent-blue:#2196F3E5;

$time:250ms;
$time-function:cubic-bezier(0.4, 0, 0.2, 1);

