.footer{
    background-color: $footer-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-global-container {
    display: flex;
    justify-content: space-around;
    flex-basis: calc(100% / 1);
    flex-wrap: wrap;

    @media screen and (min-width:768px){
        flex-basis: calc(100% / 2);
    }
    @media screen and (min-width:1200px){
        flex-wrap: nowrap;
        flex-basis: calc(100% / 3);
    }
    
}
.find-us__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $address-footer-color;
    margin-bottom: 20px;
}
.find-us {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width:1200px){
        margin-right: 93px;
        margin-bottom: 0px;
    }
}

.subscribe-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:1200px){
        flex-direction: row;
    }
   
}
.subscribe__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width:1200px){
        text-align: left;
    }
}
.subscribe-form__input-email {
    width: 450px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border $time $time-function;
    outline: none;
    margin-bottom: 20px;

    &:hover,
    &:focus{
        border: 1px solid $active-and-hover-color;
    
    }

    @media screen and (min-width: 768px){
        width: 358px;
    }
    @media screen and (min-width: 1200px){
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0px;

    }
}

.subscribe-form__btn{
   
    background-color: $active-and-hover-color;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $white-text-color;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 28px 10px 48px;
    transition: box-shadow $time $time-function, background-color $time $time-function;
    cursor: pointer;
   
    &:hover,
    &:focus{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: $request-our-service-hover-color;
    }
}
.subscribe-form__svg{
    fill: currentColor;
    margin-left: 30px;
}