.our-team-section__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-section{
    background-color: $our-team-bg-color;
}
.our-team-section__title{
    margin-bottom: 50px;
}

.team-members__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
   
}
.team-members__profession{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    text-align: center;
    color: $description-color;
    margin-bottom: 16px; 
}
.team-members{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px){
        flex-basis: calc(100% / 2);
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
        flex-basis: calc(100% / 4);

    }
}
.team-members__item{
    margin-bottom:30px;
    background-color: $main-bg-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
   
    &:last-child{
        margin-bottom: 0;
    }


    @media screen and (min-width: 768px){
        &:nth-child(3){
            margin-bottom: 0;
        }

    }
    @media screen and (min-width: 1200px){
   
        &:last-child{
            margin-bottom: 30px;
        }
        &:nth-child(3){
            margin-bottom: 30px;
        }
    }
   

} 
.team-member-soical-media{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.team-member-soical-media__item{
    margin-right: 10px;
}
.team-member-soical-media:last-child{
    margin-right: 0px;
    
}

.team-member-soical-media__link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $regular-customer-brnads-color;
    border-radius: 50%;
    transition: color $time $time-function, background-color $time $time-function;
    &:hover,
    &:focus{
        background-color: $active-and-hover-color;
        color: $main-bg-color;      
    }
}
.team-member-soical-media__icon{
    fill: currentColor;

}


